.header{
    
    font-size: 40px;
    color: #38342e;
    text-align: center;
    font-family: 'Kanit', sans-serif;
  
    text-shadow: #ec1eff;
    
  }
  .background{
   align-items: center;
  flex: content;
   background: linear-gradient(dodgerblue,white);
   
  
   
  }